* {
    margin: 0;
    padding: 0;
    border: 2px solid red;
}

#piano {
    clip-path: inset(15px 0px 0px 0px);
    margin-top: -15px;
}


.white-key {
    stroke: #555555;
    fill: #FFFFF7;
    border: 2px solid red;
}

.black-key {
    stroke: #979797;
    fill: #4B4B4B;
}

.white-key-text {
    font-size: 1.3em;
    pointer-events: none;
    user-select: none;
}

.black-key-text {
    font-size: 1em;
    fill: #fff;
    font-weight: 200;
    pointer-events: none;
    user-select: none;
}

.show {
    fill: #f5f541;
}

.show.black-key ~ text {
    fill: #000;
}